@main("Play/Slick examples") {

  <ol>
  <li><a href="@routes.Application.gettingStarted">Getting started with Play and Slick</a></li>
  <li><a href="@routes.Application.columnDefinitions">Column definitions</a></li>
  <li><a href="@routes.Application.query">Query results</a></li>
  <li>
    <a href="@routes.Application.definingQueries">Defining queries</a>,
    <a href="@routes.Application.definingQueriesController">in controller</a>,
    <a href="@routes.Application.definingQueriesDBAction">using DBAction</a>
  </li>
  <li><a href="@routes.Application.insertingRows">Inserting rows</a></li>
  </ol>
}
